auto-install-peers=true
strict-peer-dependencies=true
save-exact=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shamefully-hoist=true
